* {
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;

   }

h1{
  color: white;
  text-align: center;
}

.space{
  border: 2px dotted rgb(132, 255, 82);
  float: left;
  height:800px;
  /*height: 90vh;*/
  padding: 30px;
  position: relative;
  width: 900px;
  /*width: 50vw;*/
}

.score{
  border: 2px dotted rgb(132, 255,82);
  border-right: 0px;
  float: left;
  height: 200px;
  /*height: 24vh;*/
  position: relative;
  text-align: center;
  width: 400px;
  /*width: 24vw;*/
}

.history{
  border: 2px dotted rgb(132, 255,82);
  border-left: 0px;
  float: left;
  height: 60vh;
  position: relative;
  text-align: center;
  width: 24vw;
}

.ship{
  background-image:url("/img/halconmilenario.png");
  background-size: cover;
  bottom: 5vh;
  height: 50px;
  position: absolute;
  margin: 1vh 1vw;
  width: 50px;
}

.alien{
  background-image:url("../img/alien.jpg");
  background-size: cover;
  display: inline-block;
  height: 50px;
  margin:2px;
  width: 50px;
}

/*COLOCAR UN ALIEN AL LADO DE OTRO ON MARGIN ?*/
#tipo1{
  background-image:url("../img/alien1.png");

}
#tipo2{
  background-image:url("../img/alien2.png");
}
#tipo3{
  background-image:url("../img/alien3.png");
}
#tipo4{
  background-image:url("../img/alien4.png");
}
#tipo5{
  background-image:url("../img/alien5.png");
}
#tipo6{
  background-image:url("../img/alien6.png");
}
#tipo7{
  background-image:url("../img/alien7.png");
}
#tipo8{
  background-image:url("../img/alien8.png");
}
#tipo9{
  background-image:url("../img/alien9.png");
}
#tipo10{
  background-image:url("../img/alien10.png");
}

#tipo11{
  background-image:url("../img/alien.jpg");
}
.ship{
  background-image:url("../img/ship.jpg");
  background-size: cover;
  bottom: 5vh;
  height: 50px;
  position: absolute;
  margin: 1vh 1vw;
  width: 50px;
}

.cuadrant {
  width: 15px;
  height: 15px;
  background-color: red;
  display: inline-block;
  margin: 5px;
}
