* {
  box-sizing: border-box;
}

body{
  background-color: black;
  background-image: url("../img/SpaceWar5.jpg");
  background-size: cover;
  color: white;
  position: relative;
}
h1{
  color: white;
  text-align: center;
}
h2{
  color: white;
  text-align: center;
  font-size: 25px;
}
.limit{
  position: absolute;
  border-color:rgb(73, 101, 128);
  bottom: 80px;
  width:800px;
}
.space{
  /*border: 2px dotted rgb(132, 255, 82);*/
  float: left;
  height:800px;
  /*height: 90vh;*/
  padding: 30px;
  position: relative;
  width: 910px;
  /*width: 50%;*/
  /*width: 50vw;*/
}

.scoreBoard{
  /*border: 2px dotted rgb(132, 255,82);*/
  border-right: 0px;
  float: left;
  font-size: 30px;
  height: 600px;
  /*height: 24vh;*/
  position: relative;
  text-align: center;
  width: 400px;
  /*width: 24vw;*/
}
.score{
  display: inline;
  font-size: 36px;
  font-weight: bold;
}

.px{
  display: inline;
}
.history{
  /*border: 2px dotted rgb(132, 255,82);*/
  border-left: 0px;
  float: left;
  height: 200px;
  position: relative;
  text-align: center;
  width: 400px;
  /*width: 24vw;*/
}

.ship{
  background-image:url("../img/x-wing.png");
  background-size: cover;
  bottom: 20px;
  height: 50px;
  position: absolute;
  margin: 10px;
  width: 50px;
}

.alien{
  background-image:url("../img/alien.jpg");
  background-size: cover;
  position: absolute;
  height: 50px;
  margin:2px;
  width: 50px;
}
.ali{}

.col1{left:80px;}
.col2{left: 160px;}
.col3{left: 240px;}
.col4{left: 320px;}
.col5{left: 400px;}
.col6{left: 480px;}
.col7{left: 560px;}
.col8{left: 640px;}
.col9{left: 720px;}
.col10{left: 800px;}


.row1{bottom :650px;}
.row2{bottom: 590px;}
.row3{bottom: 530px;}
.row4{bottom: 470px;}
.row5{bottom: 410px;}
.row6{bottom: 550px;}
.row7{bottom: 490px;}
.row8{bottom: 430px;}
.row9{bottom: 370px;}
.row10{bottom:310px;}
.row10{bottom: 250px;}
.row10{bottom: 190px;}
.row10{bottom: 130px;}


.tipo1{
  background-image:url("../img/alien1.png");
}
.tipo2{
  background-image:url("../img/alien2.png");
}
.tipo3{
  background-image:url("../img/alien3.png");
}
.tipo4{
  background-image:url("../img/alien4.png");
}
.tipo5{
  background-image:url("../img/alien5.png");
}
.tipo6{
  background-image:url("../img/alien6.png");
}
.tipo7{
  background-image:url("../img/alien7.png");
}
.tipo8{
  background-image:url("../img/alien8.png");
}
.tipo9{
  background-image:url("../img/alien9.png");
}
.tipo10{
  background-image:url("../img/alien10.png");
}

.tipo11{
  background-image:url("../img/alien.jpg");
}

.shipShooting{
  background-color: red;
  border-radius: 5px;
  box-shadow: 0px 0px 10px  rgb(120, 251, 49);
  height: 15px;
  width: 4px;
  position: absolute;
  bottom: 85px;
}
.pulse-g{
  position: absolute;
  font-size: 20px;
  left: 320px;
  bottom: 600px;
}

.end{
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  left: 300px;
}

.best-players{
  text-align: center;
}

.historial{
  text-align: center;

}

#alerts {
  position: absolute;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
